/vendor/
/node_modules/
/.phpunit.cache
/.php-cs-fixer.cache
/coberage.xml
/reports/
.DS_Store
.idea/
.vscode/
tests/tmp/
docs/archive/
coverage/
logs/
debug_monolog.php
.phpcs-cache
.docker-*.log
.docker-*.exit
